<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,400;0,800;1,100;1,400;1,800&display=swap" rel="stylesheet" type='text/css'>
        <link rel="stylesheet" type="text/css" href="/layout.css">

        <title>Fetch Rewards Coding Challenge</title>
    </head>

    <body>
    <header>
        <h1>Fetch Rewards</h1>
        <h2>THE REALLY SIMPLE VERSION</h2>
    </header>
    <main>
        <%= yield %>
    </main>
    </body>
</html>