<h3>Welcome! Here are your point balances:</h3>
<p> Payer: </p>
<p> Points: </p>

<div id="button-div">
    <button type="button" class="button" id="add-btn"><a href="/add">Add Points</a></button>
    <button type="button" class="button" id="spend-btn"><a href="/spend">Spend Points</a></button>
</div>