<h3>Welcome! Here are your point balances:</h3>

<div id="payer-table-div">
    <%@payer_table.each do |payer|%>
        <%="Payer: " + payer.select(:name)%>
        <%="Points: " + payer.select(:points)%>
    <%end%>
</div>

<div id="button-div">
    <button type="button" class="button" id="add-btn"><a href="/add">Add Points</a></button>
    <button type="button" class="button" id="spend-btn"><a href="/spend">Spend Points</a></button>
</div>