<h3>Treat yo' self. Let's spend some points:</h3>
<form method="POST" action="/spend">
    <label for="points">Points to spend:</label><br>
    <input type="number" id="points" name="points" required min="1"><br>

    <input type="submit" class="button">
</form> 